@import "../variables";

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 25.1rem;
  box-shadow: rgba(0, 0, 0, 0.13) 0 2px 8px 0;
  border-radius: 0.8rem;
  background-color: $color-light-font;
  padding: 1rem 1.4rem 5.5rem;
  overflow: hidden;

  &.true {
    filter: grayscale(1) opacity(0.2);
    color: transparent;
    background-color: gray;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      transform: translateX(-100%);
      animation: shimmer 2s infinite;
      background-image: linear-gradient(
        90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.2) 20%,
        rgba(#fff, 0.5) 60%,
        rgba(#fff, 0)
      );
    }

    & > img {
      scale: 0;
    }

    & > .buy-btn {
      & > h2 {
        color: transparent;
      }
    }
  }

  & > img {
    display: block;
    margin: auto;
    height: 15.8rem;
    opacity: 1;
  }

  & > .name-price-cont {
    @include flex-center(space-between);
    //align-items: flex-start;

    & > .name {
      color: inherit;
      font-size: 1.6rem;
      line-height: 1.9rem;
    }
  }

  & > .description {
    font-weight: 400;
  }

  & > .buy-btn {
    @include flex-center();
    transition: background-color 0.2s ease-in-out;
    gap: 1.3rem;
    inset: auto auto 0 0;
    height: 3.672rem;
    width: 100%;
    border: transparent;
    position: absolute;
    background-color: $color-primary;

    &.true,
    &.true:hover {
      cursor: inherit;
      background-color: forestgreen;

      & img {
        display: none;
      }
    }

    & > h2 {
      color: $color-light-font;
      text-transform: uppercase;
      font-size: 1.4rem;
      letter-spacing: 0.05rem;
      font-weight: 500;
    }

    &:hover {
      background-color: lighten($color-primary, 10);
    }
  }
}
