@import "../variables";

.card {
  max-width: 25.1rem;
  box-shadow: rgba(0, 0, 0, 0.13) 0 2px 8px 0;
  //height: 32.8rem;
  border-radius: 0.8rem;
  background-color: #ffffff;
  padding: 1.5rem;

  & > img {
    width: 100%;
    opacity: 0.5;
  }

  & > .name-price-cont {
    @include flex-center(space-between);

    & > .name {
      color: #2c2c2c;
      font-size: 1.6rem;
      line-height: 1.9rem;
    }

    & > .price {
      background-color: black;
      //height: 2.9rem;
      font-weight: 900;
      padding: 1rem;
      border-radius: 0.8rem;
      //text-align: center;
    }
  }
}
