@import "../variables";

.background {
  position: fixed;
  top: 0;
  //background-color: rgba(0, 0, 0, 0.22);
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.checkout {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: fixed;
  right: 0;
  top: 0;
  overflow: scroll;
  padding: 2.5rem;
  z-index: 10;
  height: 100%;
  width: 33rem;
  box-shadow: black;
  background-color: $color-primary;

  & > .top {
    @include flex-center(space-between);

    & > h1 {
      color: $color-light-font;
      font-weight: 600;
      font-size: 2.7rem;
    }

    & > .close-btn {
      transition: background-color 0.2s ease-in-out;
      background-color: black;
      cursor: pointer;
      height: 4.5rem;
      aspect-ratio: 1;
      border: transparent;
      border-radius: 50%;

      &:hover {
        background-color: lighten(black, 10%);
      }

      & > img {
        //filter: grayscale(100%);
      }
    }
  }
}
