@import "../variables";

.checkout {
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: fixed;
  right: 0;
  top: 0;
  overflow-y: auto;
  padding: 2.5rem;
  z-index: 10;
  height: 100%;
  width: 33rem;
  box-shadow: black;
  background-color: $color-primary;

  @media (min-width: $screen-desktop) {
    width: 48.6rem;
    padding: 4rem;
  }

  &.enter-done,
  &.enter-active {
    transform: translateX(0);
  }

  & > .top {
    @include flex-center(space-between);

    & > h1 {
      color: $color-light-font;
      font-weight: 600;
      font-size: 2.7rem;
    }

    & > .close-btn {
      transition: background-color 0.2s ease-in-out;
      background-color: black;
      height: 4.6rem;
      aspect-ratio: 1;
      border: transparent;
      border-radius: 50%;

      & > img {
        width: 100%;
        display: block;
        margin-inline: auto;
      }

      &:hover {
        background-color: lighten(black, 10%);
      }
    }
  }

  & > .main-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (min-width: $screen-desktop) {
      gap: 2.3rem;
    }
  }

  & > .total-price {
    @include flex-center(space-between);
    margin-top: auto;
    margin-bottom: 2rem;
    color: $color-light-font;
    font-size: 2.8rem;
    font-weight: 600;

    @media (min-width: $screen-desktop) {
      margin-bottom: 4rem;
    }

    &::before {
      content: "Total:";
    }

    & > div {
      &::before {
        content: "R$";
      }
    }
  }

  & > .confirm {
    transition: background-color 0.3s ease-in-out;
    border: none;
    min-height: 6.5rem;
    bottom: 0;
    left: 0;
    margin: -2.5rem;
    color: $color-light-font;
    font-size: 2.8rem;
    background-color: black;

    @media (min-width: $screen-desktop) {
      margin: -4rem;
    }

    &:hover {
      background-color: lighten(black, 10);
    }
  }
}

.background {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.22);
  height: 100vh;
  width: 100vw;
  z-index: 1;

  &.false {
    display: none;
  }
}
