@import "../variables";

.header {
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 4.8rem;
  //padding-inline: 2rem;

  & > .cart-button {
  }
}
