@import "../variables";

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px); /* Initial jump height */
  }
  50% {
    transform: translateY(0); /* Start coming down */
  }
  75% {
    transform: translateY(-5px); /* Add weight, go down further */
  }
  100% {
    transform: translateY(0); /* Final position */
  }
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: $color-primary;
  @include flex-center(space-between);
  height: 4.8rem;
  padding-inline: 2rem;

  & > .cart-button {
    @include flex-center(space-evenly);
    min-height: 2.6rem;
    min-width: 5.2rem;
    border: none;
    border-radius: 0.8rem;

    & > img {
      width: 20%;
    }

    & > .quantity {
      font-family: inherit;
      font-weight: 700;
    }

    &.updated {
      animation: jump 0.1s ease-out forwards;
    }

    @media (min-width: $screen-desktop) {
      min-height: 4.5rem;
      min-width: 9rem;
      font-size: 1.8rem;
    }
  }

  @media (min-width: $screen-desktop) {
    min-height: 10.1rem;
  }
}
