@import "../variables";

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-30px); /* Initial jump height */
  }
  50% {
    transform: translateY(0); /* Start coming down */
  }
  75% {
    transform: translateY(10px); /* Add weight, go down further */
  }
  100% {
    transform: translateY(0); /* Final position */
  }
}

@keyframes gradient {
  0% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 0;
  }
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: $color-primary;
  @include flex-center(space-between);
  height: 4.8rem;
  padding-inline: 2rem;

  & > .cart-button {
    @include flex-center(space-evenly);
    //background: linear-gradient(to top right, purple, transparent);
    min-height: 2.6rem;
    min-width: 5.2rem;
    border: none;
    border-radius: 0.8rem;

    & > .quantity {
      font-family: Montserrat, sans-serif;
      font-weight: 700;
    }

    &.updated {
      background: linear-gradient(90deg, #ffffff, forestgreen, #ffffff);
      background-size: 1000% 100%;
      animation: gradient 0.4s linear forwards;
      //animation: jump 0.1s ease-out forwards;
    }
  }
}
