@import "variables";

.app {
  position: relative;
  min-width: 375px;
  min-height: 100vh;
  padding-bottom: 6rem;

  & > footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    @include flex-center();
    margin-top: 17vh;
    height: 3rem;
    background-color: #eeeeee;
    text-align: center;
    font-size: 1.2rem;
  }
}
