@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: Montserrat, sans-serif;

  font-size: 10px;

  color: #3c3c3c;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 375px;
}

h1 {
  font-weight: 400;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  @include flex-center();
  margin-top: 3.7rem;
  height: 3rem;
  background-color: #eeeeee;
  text-align: center;
  font-size: 1.2rem;
}
