// Colors
$color-primary: #0f52ba;
$color-light-font: #ffffff;

// Screen
$screen-desktop: 768+1 + px;

//
@mixin flex-center($justify: center) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}
